@model IEnumerable<Category>

<li class="dropdown nav-item align-self-center">
    <a class="dropdown-toggle"  id="category-menu" data-toggle="dropdown">Categories</a>
    <ul class="dropdown-menu justify-content-center">
        @foreach (var category in Model)
        {
            <li class="dropdown-link">
                <a class="text-dark" asp-controller="Product" asp-action="List" asp-route-category="@category.CategoryName">
                    @category.CategoryName
                </a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li class="dropdown-link">
            <a class="text-dark" asp-controller="Product" asp-action="List" asp-route-category="">View all products</a>
        </li>
    </ul>
</li>