<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <script src="~/lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/js/bootstrap.js" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewData["Title"] - StoreApplication.WebApp</title>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-fluid" src="~/Images/StoreApplicationLogo200x200.png" />
                </p>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    
</body>
</html>
